*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #33b433;
  color: #fff; }

.header {
  background-image: linear-gradient(to right bottom, #33b433, #73866b);
  color: #fff;
  font-family: "Pragati Narrow", sans-serif;
  display: grid;
  grid-template-columns: 1fr; }
  .header__title {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center; }
    .header__title-1 {
      font-size: 2.7em;
      text-transform: uppercase; }
    .header__title-2 {
      font-family: "Dancing Script", cursive;
      font-size: 2em;
      align-self: center; }

.navbar {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 2rem; }
  .navbar__item-1 {
    justify-self: flex-end;
    text-decoration: none;
    font-size: 1.625em;
    font-family: inherit;
    color: #295337;
    font-weight: 600;
    transition: all .2s; }
    .navbar__item-1:hover {
      color: #397a4f;
      transition: all .2s; }
  .navbar__item-2 {
    text-decoration: none;
    font-size: 1.625em;
    font-family: inherit;
    color: #295337;
    font-weight: 600;
    transition: all .2s; }
    .navbar__item-2:hover {
      color: #397a4f;
      transition: all .2s; }

.content {
  background-color: #44725b;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(10px, 200px) 1fr minmax(10px, 200px);
  grid-template-rows: repeat(auto-fit, min-content);
  font-family: "Pragati Narrow", sans-serif;
  padding: 2rem; }
  .content-1 {
    grid-column: 2 / 3;
    display: grid; }
  .content__img {
    width: 11rem;
    height: 12rem;
    border-radius: 50%;
    justify-self: center; }
  .content__title {
    font-family: inherit;
    text-transform: uppercase; }
  .content__paragraph {
    font-size: 1.375em; }

.footer {
  background-color: #24503a;
  color: #bebcbc;
  padding: 2rem;
  text-align: center;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.125em; }
  .footer__copyright {
    line-height: 3; }

.repo__container {
  font-family: "Pragati Narrow", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5px;
  padding: 5px;
  margin-bottom: 2rem; }

.u-margin-top-2 {
  margin-top: 2rem; }
