<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/photo.png" type="image/png">
    <title>Contact Me</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pragati+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title-1">Welcome to my Web Page</h1>
            <h4 class="header__title-2">by Raul Oliva</h4>
        </div>

        <nav class="navbar">
            <a href="welcome.html" class="navbar__item-1">Welcome</a>
            <a href="myProjects.html" class="navbar__item-2">My Projects</a>
        </nav>
    </header>

    <div class="content contact-me">
        <div class="content-1">
            <p class="content__paragraph">
                In order to reach me out I leave in this section my social media
            </p>
            <p class="content__paragraph">
                Feel free to send me a message 
            </p>
            <div class="social-media">
                <a href="https://www.facebook.com/raul.oliva.castillo.28" target="_blank">
                    <img class="social-media-icon" src="../img/facebook-icon.png" alt="Facebook Icon"/>
                </a>
                <a href="https://www.instagram.com/raul_oliva_cas/" target="_blank">
                    <img class="social-media-icon" src="../img/instagram-icon.png" alt="Instagram Icon"/>
                </a>
                <a href="https://www.linkedin.com/in/raul-oliva-27208817b/" target="_blank">
                    <img class="social-media-icon" src="../img/linkedin-icon.png" alt="Linkedin Icon"/>
                </a>
                <a href="https://github.com/rauloliva" target="_blank">
                    <img class="social-media-icon" src="../img/github-icon.png" alt="Github Icon"/>
                </a>
                <a href="mailto:oliva.raul12@gmail.com" target="_blank">
                    <img class="social-media-icon" src="../img/email-icon.png" alt="Email Icon"/>
                </a>
            </div>
            <p class="content__paragraph">
                I would appriciate any feedback in any of my projects listed in the<br> <b><i>My Projects</i></b> section including this web page.<br>
                Either if you would like to leave it in one of my social media listed above<br>
                or sending me an email, you can do so by clicking at the mail icon.
            </p>
        </div>
    </div>


    <footer class="footer">
        <p class="footer__copyright">
            &copy; Copyright 2020 by Raul Oliva
        </p>

        <p>
            Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
</body>
</html>