<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/photo.png" type="image/png">
    <title>My Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pragati+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title-1">Welcome to my Web Page</h1>
            <h4 class="header__title-2">by Raul Oliva</h4>
        </div>

        <nav class="navbar">
            <a href="welcome.html" class="navbar__item-1">Welcome</a>
            <a href="#" class="navbar__item-2">Contact Me</a>
        </nav>
    </header>

    <div class="content">
        <div class="content-1">
            <p class="content__paragraph">
                In this section I cover all my projects from my Github repositories
            </p>
            <div class="repos" id="content">
                
            </div>
        </div>
        

    </div>

    <footer class="footer">
        <p class="footer__copyright">
            &copy; Copyright 2020 by Raul Oliva
        </p>

        <p>
            Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
    
    <script src="../js/GithubAPI.js"></script>
</body>
</html>