<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pragati+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title-1">Welcome to my Web Page</h1>
            <h4 class="header__title-2">by Raul Oliva</h4>
        </div>

        <nav class="navbar">
            <a href="#" class="navbar__item-1">My Projects</a>
            <a href="#" class="navbar__item-2">Contact Me</a>
        </nav>
    </header>

    <div class="content">
        This is the Content<br>
        This is the Content<br>
        This is the Content<br>
        This is the Content<br>
    </div>
</body>
</html>