<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/photo.png" type="image/png">
    <title>My Web Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Pragati+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title-1">Welcome to my Web Page</h1>
            <h4 class="header__title-2">by Raul Oliva</h4>
        </div>

        <nav class="navbar">
            <a href="myProjects.html" class="navbar__item-1">My Projects</a>
            <a href="#" class="navbar__item-2">Contact Me</a>
        </nav>
    </header>

    <div class="content">
        <div class="content-1">
            <img src="../img/photo.png" class="content__img" alt="My Photo"/>
            <h2 class="content__title">Let me introduce myself</h2>
            <p class="content__paragraph">
                Welcome to my web page, the purpose of this page is to get you know me a bit better. So
                my name is Raul Adrian Oliva Castillo I'm 22 years old (I was born in 1997, just in case I forget to update my age), I'm a Software Engineer working at TATA
                Consultancy Services I started working there since June 2019, I was selected to join the AON team to develop and support JAVA and PHP web applications.
            </p>

            <h2 class="content__title u-margin-top-2">My Programming background</h2>
            <p class="content__paragraph">
                Now let's talk about my programming background. Programming got my attention just when I was 16 year old, in the summer of 2014 I got curious on how a web page is made so I started to watch some videos on how to implement a technology called HTML and the structure of tags and even for the folder and files.
                In the next year I got into a computer science career, where I learn different programming languages like JAVA, Javascript, PHP, C and of course SQL among other interesting topics like algorthims and Artificial Intelligence.
            </p>

            <h2 class="content__title u-margin-top-2">My Programming Projects</h2>
            <p class="content__paragraph">
                I have created a special section to display with more detail the projects I've been working on since I started my career with the source links form Github or the links where the project itself it's hosted, but not all of them are web projects.
            </p>
        </div>
    </div>

    <footer class="footer">
        <p class="footer__copyright">
            &copy; Copyright 2020 by Raul Oliva
        </p>

        <p>
            Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
</body>
</html>